.linkGroup {
  display: flex;
  align-items: center;
  height: 50px;
}

.link {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  overflow: hidden;
  border-radius: 8px;

  &:hover {
    border: 1px solid blue;
  }
}

.linkImg {
  width: 100%;
  height: 100%;
}
