.linkGroup {
  display: flex;
  align-items: center;
  max-width: 300px;
  height: var(--header-height);

  @media (max-width: 480px) {
    max-width: 240px;
    height: var(--header-height-mobile);
    margin: 0 auto;
  }
}

.linkItemContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.hidden {
  opacity: 0;
}
