.linkGroup {
  display: flex;
  align-items: center;
  max-width: 300px;
  height: 72px;

  @media (max-width: 480px) {
    max-width: 100%;
  }
}

.linkItemContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.hidden {
  opacity: 0;
}
