:root {
  --color-highlight-1: #fe6e00;
  --color-highlight-2: #34a5e3;
  --color-text: #2a2a2a;
  --text-shadow: 1px 1px 4px #4a4a4a;

  --font-size-regular: 20px;
  --line-height-regular: 24px;

  --font-size-large: 60px;
  --line-height-large: 64px;

  --header-height: 72px;
  --page-width: 1280px;
  --page-padding-x: 16px;
  --page-padding-x-mobile: 8px;
  --content-top-margin: 96px;

  --breakpoint-mobile: 480px;
}
