:root {
  --color-highlight-1: #fe6e00;
  --color-highlight-2: #2a2a2a;
  --color-text: #333;
  --font-size-regular: 20px;
  --line-height-regular: 24px;
  --font-size-regular-mobile: 20px;
  --line-height-regular-mobile: 24px;
  --font-size-large: 60px;
  --line-height-large: 64px;
  --font-size-large-mobile: 32px;
  --line-height-large-mobile: 36px;
  --header-height: 72px;
  --header-height-mobile: 60px;
  --page-width: 1280px;
  --page-padding-x: 16px;
  --page-padding-x-mobile: 8px;
  --content-top-margin: 96px;
  --content-top-margin-mobile: 48px;
}
