@use "src/styles/_mixins";

.splash {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-color: var(--color-highlight-2);

  @media (orientation: landscape) {
    //position: relative;
    //height: 800px;
  }
}

.bgImg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 200ms;

  @media (max-width: 1024px) {
    display: none;
  }
}

.bgImgMobile {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 200ms;

  @media (max-width: 1024px) {
    display: block;
    object-fit: cover;
    object-position: center;
  }
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0.1) 30%,
    rgba(0, 0, 0, 0) 50%
  );
  z-index: 1;

  @media (max-width: 480px) {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 0,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 60%
    );
  }
}

.splashContent {
  width: var(--page-width);
  max-width: 100%;
  margin: var(--content-top-margin) auto 0;
  padding: 0 var(--page-padding-x);
  box-sizing: border-box;
  transition: opacity 200ms;
  z-index: 2;

  @media (max-width: 480px) {
    margin-top: var(--content-top-margin-mobile);
    padding: 0 var(--page-padding-x-mobile);
  }
}

.messageBox {
  color: #fff;
}

.intro {
  @include mixins.text-regular;
  margin-bottom: 12px;

  @media (max-width: 480px) {
    @include mixins.text-regular-mobile;
    margin-bottom: 12px;
    text-align: center;
  }
}

.name {
  @include mixins.text-large;
  margin-bottom: 8px;
  color: var(--color-highlight-1);

  @media (max-width: 480px) {
    @include mixins.text-large-mobile;
    margin-bottom: 8px;
    text-align: center;
  }
}

.title {
  @include mixins.text-large;
  margin-bottom: 12px;

  @media (max-width: 480px) {
    @include mixins.text-large-mobile;
    margin-bottom: 12px;
    text-align: center;
  }
}

.description {
  @include mixins.text-regular;
  margin-bottom: 24px;
  max-width: 600px;

  @media (max-width: 480px) {
    @include mixins.text-regular-mobile;
    margin-bottom: 12px;
    text-align: center;
  }
}
