@property --activeColor {
  initial-value: 0%;
  inherits: false;
  syntax: '<percentage>';
}

.titleScrambler {
  cursor: pointer;
  color: transparent;
  background: var(--color-highlight);
  background-clip: text;
  transition: --activeColor 1000ms 1000ms ease-in;

  &:hover {
    color: #fff;
    background-image: none;
  }
}

.timeoutActive {
  cursor: default;
  background-image: linear-gradient(to right, var(--color-highlight) 0%, var(--color-highlight) var(--activeColor), #fff var(--activeColor));
  --activeColor: 100%;

  &:hover {
    color: transparent;
    background-image: linear-gradient(to right, var(--color-highlight) 0%, var(--color-highlight) var(--activeColor), #fff var(--activeColor));
  }
}

.transitionDisabled {
  transition: none;
}
