
.header {
  width: 100%;
  height: var(--header-height);
  position: absolute;
  top: calc(var(--header-height) * -1);
}

.headerContent {
  width: var(--page-width);
  margin: 0 auto;
  transform: translateX(22px);
}

.inPlace {
  border-bottom: 2px solid green;
}
