.messageBox {
  display: inline-block;
  position: relative;
  padding: 24px;
  color: #fff;
  font-size: 42px;
  line-height: 46px;
  //background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  z-index: 10;
}
