@use "src/styles/_mixins";

.locationTabs {

}

.tabs {
  display: flex;
}

.tabItem {
  @include mixins.text-regular;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: color 200ms;

  &:hover {
    color: var(--color-highlight);
  }
}

.active {
  color: var(--color-highlight);
}

.locations {
  display: flex;
}

.locationItem {
  @include mixins.text-regular;
  flex-grow: 1;
  cursor: pointer;
  transition: color 200ms;

  &:hover {
    color: var(--color-highlight);
  }
}
