@use "src/styles/_mixins";

.locations {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - var(--header-height));
  background: url("./assets/stars.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.locationsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--page-width);
  margin: 0 auto;
}

.messageBox {
  max-width: 600px;
}

.messageHeader {
  @include mixins.text-large;
}

.messageText {
  @include mixins.text-regular;
}
