.locations {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 72px);
  background-color: pink;
  background: url("./assets/stars.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.locationsContent {
  width: 1280px;
  margin: 0 auto;
}

.messageBox {
  margin: 0 auto;
}
