@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-6px);
  }
  80% {
    transform: translateY(2px);
  }
}

.linkItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 4px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

  &:hover {
    animation: bounce 600ms ease-out;
  }

  @media (max-width: 480px) {
    width: 36px;
    height: 36px;
  }
}


.forceAnimation {
  animation: bounce 600ms ease-out;
}

.linkImg {
  &.gitHub {
    width: 42px;
    height: 42px;

    @media (max-width: 480px) {
      width: 30px;
      height: 30px;
    }
  }

  &.linkedIn {
    width: 38px;
    height: 38px;
    transform: translateX(2px);

    @media (max-width: 480px) {
      width: 26px;
      height: 26px;
    }
  }

  &.indeed {
    width: 34px;
    height: 34px;
    transform: translateX(-3px);

    @media (max-width: 480px) {
      width: 22px;
      height: 22px;
    }
  }

  &.peerlist {
    width: 36px;
    height: 36px;

    @media (max-width: 480px) {
      width: 24px;
      height: 24px;
    }
  }
}
