@import 'normalize.css';

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

html {
  min-width: 320px;
  height: 100vh;
  height: 100svh;
  overflow: hidden;

  @media (orientation: landscape) {
    height: 800px;
    overflow: scroll;
    scroll-behavior: smooth;
  }
}

body {
  height: 100vh;
  height: 100svh;
  overflow: hidden;

  @media (orientation: landscape) {
    height: 800px;
  }
}

#root {
  height: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
}
